<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>NCI HUMAN RESOURCE</h1>
        <p>This website is designed to maintain the employee database</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <h2>Employee Details</h2>
          <p>You can find the Employee details in here, such as Employee name, Designation, Department, Salary, details of employee holidays. Address, Date of Birth, Mobile Number and Email</p>
          <p><a class="btn btn-default" href="employees#show" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <h2>HR Details</h2>
          <p>You can find the Employee details maintained by Human Resource Department, such as Holidays requested from, Holidays from, Holidays to, Holidays taken, Holidays balance and holidays approved by.  </p>
          <p><a class="btn btn-default" href="hr_tables#show" role="button">View details &raquo;</a></p>
       </div>
        
      </div>

      <hr>

      <footer>
        <p>&copy; RaviKumarBingi@14125561.student.ncirl.ie 2014</p>
      </footer>
    </div> <!-- /container -->